<div class="row">
    <div class="col-md-4 my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur distinctio deleniti, neque sunt iure doloribus et excepturi commodi adipisci repudiandae rem culpa atque officia delectus architecto quidem eligendi placeat.
    </div>
</div>