<div class="container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top img-fluid" src="~/Content/img/fondo-1.png" alt="Card image cap" height="200" width="200">
            <div class="text-center">
                <img src="~/Content/img/foto.jpg" alt="" class="img-fluid yoimagen rounded-circle" height="50" width="200">
            </div>
            <div class="card-block">
                <h4 class="card-title">Dawin Rafael Perez Batista 2018-6484</h4>
                <p class="card-text">Proyecto final de programacion 3</p>
            </div>
            <div class="card-footer text-center">
                <a href="https://www.facebook.com/profile.php?id=100007110765077"><i class="fa fa-facebook mx-2"></i></a>
            </div>
        </div>
    </div>
</div>
