@model List<Sistema_Facturacion.Models.VistaEntrada>
@{
    Layout = null;
}

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Fecha</td>
                    <td>@item.Producto</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Proveedor</td>
                </tr>
            }
        </tbody>
    </table>
